<h1 align = "center">The list of Articles</h1>

<div class = "row justify-content-center">
  <%= will_paginate %>
</div>

<%= render 'article', obj: @articles %>

<div class = "row justify-content-center">
  <%= will_paginate %>
</div>
