

<div class="jumbotron jumbotron-fluid">
  <div class = "container"><button type="button" class="btn btn-outline-primary">Sign up</button></div>
  <div class="container">
    <h1 class="display-4">Alpha blog</h1> </br>
    <h2 class="lead">This is the blog from Diego Falcon.</h2>
  </div>

</div>

<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>
