<h1 align = "center"> Category List </h1>

<div class = "row justify-content-center">
  <%= will_paginate %>
</div>

<div class = "container">
  <div align = "center">
<% @categories.each do |category| %>
  <div class="card mb-3" style = "width: 22rem;">
     <h5 class="card-title" align = "center"><%= link_to category.name, category_path(category) %></h5>
  </div>
<% end %>
</div>
</div>
<div class = "row justify-content-center">
  <%= will_paginate %>
</div>
